
@model MVCTest.Models.Student

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Html.EnumDropDownListFor(model => model.EmploymentType)


@section Scripts{
    <script type="text/javascript">
        $(function () {

            $("#EmploymentType").find('option').get(0).remove();
            $("#EmploymentType option:first").attr('selected', 'selected');
        })

    </script>

}