@{
    ViewData["Title"] = "Edit";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" asp-action="Edit" asp-controller="Home">

    <input id="Submit1" type="submit" value="submit" />
</form>